* {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-decoration: none;
  margin:0;
}

header {
  border-radius: 0px;
  background-color: #1b1b1b;
  padding: 30px;
  text-align: center;
}

header a {
  padding:20px;
  font-size: 15px;
  font-weight: bold;
}

#normal{
  padding:20px;
  background-color: #292929;
  color: white;
  font-weight: bold;
}

#ph{
  padding:20px;
  background-color: green;
  color: black;
  font-weight: bold;
}

body{
  background-color: black;
}

#sectionlog {
  margin:50px 30%;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
}

#sectionfeed {
  margin:50px auto;
  width:700px;
  background-color: #1b1b1b;
  color: white;
}

h1{
  padding:15px 20px 15px 20px;
  margin: 10px;
  font-size: 35px;
  color:white;
}

h2{
  padding:15px 20px 50px 20px;
  margin: 10px;
  font-size: 25px;
  color:white;
  line-height: 1.5;
}

h3{
  padding:15px 20px 15px 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: normal;
  color:white;
}

#editprofileh4 {
  text-align: left;
  margin-left:12%;
}

#datetime{
  float:right;
  display:inline;
  padding-right:12%;
  padding-bottom:10px;
}

hr{
  width:80%;
  text-align:left;
  margin:0 10%;
}

section h1{
  padding:15px 20px 0 20px;
  margin: 10px;
  font-size: 35px;
}

section h3{
  padding:0px 20px 0 20px;
  margin: 10px;
  text-decoration: none;
  opacity: 80%;
  font-weight:normal
}
#profileuser{
  display:inline-block;
  text-decoration: none;
  opacity: 60%;
  font-weight:bold;
  padding-top:60px;
  position: relative;
  bottom: 20px;
  left:10px;
}
#profileuserfeed{
  display:inline-block;
  text-decoration: none;
  opacity: 60%;
  font-weight:bold;
  padding-top:0px
  position: relative;
  color:white;
  bottom: 20px;
  left:10px;
}


#profilebio{
  display:inline-block;
  text-decoration: none;
  opacity: 60%;
  font-weight:normal;
  padding-top:25px;
  position: relative;
  bottom: 20px;
  left:100px;
}

#profilesearch{
  display:inline-block;
  text-decoration: none;
  opacity: 60%;
  font-weight:bold;

}

section h5{
  padding:5px 20px 15px 20px;
  margin: 10px;
  font-style: italic;
  text-decoration: none;
  opacity: 60%;
  font-weight:normal
}

section h6 {
  font-style: italic;
  margin: 0 0 30px 0;
  opacity: 70%;
}

input[type=text],input[type=password],input[type=email],input[type=submit]{
  padding:10px 20px 10px 20px;
  width:70%;
  margin:10px;
  border-style: none;
  color:gray;
  background-color: #292929;
  font-style: italic;
}

.orangetext{
  color:#ffa31a !important;
}

input[type=radio],input.radio,[type=checkbox]{
  margin:25px 0 25px 10px;
}

input[type="file"] {
  margin:25px 0 25px 10px;
  display: none;
}

#buttonsearch{
  background-color: green;
  position: relative;
  bottom: 15px;
  left:10px;
  border-width: 0px;
}

#usercomment{
  background-color: green;
  position: relative;
  bottom: 0px;
  left:100px;
  border-width: 0px;
}

#commentedit{
  background-color: green;
  position: relative;
  bottom: 20px;
  left:506px;
  border-width: 0px;
  margin-right:10px;
}

#commentdelete{
  background-color: green;
  position: relative;
  bottom: 38px;
  left:555px;
  border-width: 0px;
  margin-right:10px;
}

#buttonunfollow{
  background-color: green;
  position: absolute;
  top:200px;
  left:1030px;
  border-width: 0px;
}

#buttonuneditphoto{
  background-color: green;
  position: absolute;
  top:200px;
  left:1020px;
  border-width: 0px;
}

#buttontotallike{
  background-color: green;
  position: absolute;
  top:240px;
  left:1020px;
  border-width: 0px;
}

#buttonlike{
  background-color: green;
  position: relative;
  top:10px;
  left:100px;
  border-width: 0px;
}

#buttoncomment{
  background-color: green;
  position: relative;
  bottom:13px;
  left:250px;
  border-width: 0px;
}

#buttondelete{
  background-color: green;
  position: relative;
  bottom: 35px;
  left:550px;
  border-width: 0px;
}

#buttonlink{
  background-color:transparent;
  border-width: 0px;
  position: relative;
  bottom:15px;
}

textarea {
  padding:10px 20px 10px 20px;
  width:70%;
  margin:10px;
  border-style: none;
  color:gray;
  resize:vertical;
  height: 100px;
  background-color: #292929;
  font-style: italic;
}

#submit{
  margin:30px 0 30px 0;
  color: black;
  background-color: green;
  font-weight: bold ;
  opacity: 100%;
}

a:hover, #submit:hover{
  opacity: 80%;
}

section.data{
  margin:50px 20%;
  text-align: left;
}

p{
  padding:10px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
  /* text-align: center; */
}

#zoom{
  padding:30px;
  font-size: 50px;
  color: blue;
  font-weight: bold;
}

a{
  /* padding:10px; */
  font-size: 15px;
  color: white;
}

#links{
  padding:10px 10px 5px 10px;
  margin:10px 10px 5px 10px;
  font-size: 15px;
  color: blue;
  display:inline-block;
  color:white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #235D75;
}

#onefull{
  width:100%;
  float:left;
  text-align:center;
}

#twoleft{
  width:33%;
  float:left;
  text-align:center;
}

#twomiddle{
  width:33%;
  float:left;
  text-align:center;
}

#tworight{
  width:33%;
  float:left;
  text-align:center;
}

#headerleft{
  width:10%;
  float:left;
  text-align: center;
}

#headermiddle{
  width:80%;
  float:left;
  text-align: center;
}
#headerright{
  width:10%;
  float:left;
  text-align: center;
}

#homeheader{
  padding:30px 0px 50px 0px;
}

#welcomeimage{
  width:200px;
  margin:70px 0px 10px 0px;
  /* border: 5px solid #; */
  border: 5px solid green;
}

#logoimage{
  width:43px;
  margin:-20px 70px 10px 0px;
}
#profileimage{
  width:100px;
  margin:30px 0px 10px 0px;
  padding-left: 100px;
}
#feedimage{
  width:500px;
  /* margin:0px 0px 0px 0px;
  float:center; */
  border: 5px solid green;
  /* border: 5px solid blue; */
}
#feedimagediv{
  text-align:center
}
#logoutimage{
  width:43px;
  margin:-20px -70px 10px 0px;
}

#oneline{
  width:100%;
  display: inline-block;
}

#text{
  margin:0px 100px;
  padding:0px;
  word-wrap: break-word;
  text-align: justify;
}
#text2{
  margin:10px 100px 0px 100px;
  word-wrap: break-word;
  text-align: justify;
}
#liketext{
  margin:-7px 160px;
  padding:0px;
  word-wrap: break-word;
  text-align: justify;
}

.custom {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin:20px 0px 0px 0px;
    cursor: pointer;
}

.custom2 {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin:25px 0px 20px 0px;
  cursor: pointer;
}